.auth-class-container {
    width: 300px;
    min-height: 250px;
    border: 10px solid #291dcf;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}

.auth-class-container .text-span {
    display: block;
    margin-bottom: 5px;
}

.auth-class-container .text-input{
    height: 30px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    border-color: blue;
}

.form-group{
    margin-bottom: 15px;
}

.form-group1{
    margin-bottom: 15px;
    text-align: center;
    padding: 7px;
   
}

.shesvla {
    display: block;
    width: 100%;
    height: 35px;
    background-color: rgb(41, 41, 231);
    color: white;
    border: 0;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
}

.linki{
    color: white;
}

.avtorizacia{
    display: block;
    text-align: center;
    font-size: 13px;
}

.gender{
    text-align: center;
}

.avtorizacia {
    text-align: center;
}

.locations{
    height: 30px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    border-color: blue;
}




